*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

nav{
    height:80px;
    background-color:blanchedalmond;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0rem calc((100w-1300px)/2);
}

.logo{
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

nav a{
   text-decoration: none;
   color: black; 
   padding: 0 1.5rem;
}

.blog-section{
    width: 100%;
}

.blog-section .section-content{
    width: 85%;
    margin: 20px auto;
}

.blog-section .section-content .title{
    width: 60%;
    text-align: center;
    margin: auto;
}

.blog-section .section-content .title h2{
    font-size: 40px;
    color:black;
    text-transform: uppercase;
}

.blog-section .section-content .title p{
    font-size: 18px;
    color:black;
    margin-top: 20px;
}

.blog-section .section-content .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:50px;
    margin: 25px auto;
}

.blog-section .section-content .cards .card{
    width: 100%;
    background-color: #f2f2f2;
    position: relative;
}

.blog-section .section-content .cards .card img{
    width: 100%;
    height: auto;
}

.blog-section .section-content .cards .card .article{
    padding: 15px 20px;
}

.blog-section .section-content .cards .card .article h4{
    font-size: 24px;
    color: #4a4a4a;
}

.blog-section .section-content .cards .card .article p{
    font-size: 16px;
    margin: 10px 0px;
}

.blog-section .section-content .cards .card a{
    text-decoration: none;
    display: inline-block;
    background-color: blanchedalmond;
    padding: 8px 1px;
    margin-left: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.blog-section .section-content .cards .card .posted-date p{
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: blanchedalmond;
    padding: 6px 15px;
}

.footer {
    font-size:20px;
    background-color:blanchedalmond;
    font-style: italic;
    text-align: center;
    height:50px;
    flex:1;
}




